@model ClearingAndForwarding.Models.BEdetails

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BEdetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BENo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BENo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BEDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BEDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LCNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LCNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LCDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LCDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UOM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UOM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessableValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessableValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shipper)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shipper)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ODRecDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ODRecDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssessmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssessmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DODate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DODate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnChassis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnChassis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContainerNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContainerNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContainerSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContainerSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Remarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserCode)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
